@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.header {
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.header__img {
  margin: auto;
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.loc {
  background: #EAEAEA;
  height: 100%;
}
.loc__bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.res {
  background: #F7F7F7;
  padding-top: 30px;
  padding-bottom: 50px;
}
.res__heading {
  font-size: 26px;
  text-align: center;
  margin: auto;
  width: 80%;
  padding-bottom: 15px;
}
.res__text {
  font-size: 18px;
  padding-bottom: 30px;
}

.fonc {
  height: 100%;
}
.fonc__list {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  padding-bottom: 60px;
}
.fonc__step {
  display: flex;
  flex-flow: row wrap;
  margin: 25px 0 0 0;
  background-color: #F7F7F7;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: normal;
  counter-increment: step-counter;
}
.fonc__step::before {
  content: counter(step-counter);
  font-family: "roboto";
  font-weight: lighter;
  font-size: small;
  position: relative;
  right: 30px;
  line-height: 1.6rem;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}
.fonc__step__icon {
  transform: scale(120%);
  color: #7E7E7E;
}
.fonc__step__icon.fa-store {
  color: #9356DC;
}
.fonc__step:nth-child(3) {
  background: #F5EDFF;
}
.fonc__step__text {
  padding-left: 1.5rem;
}

.rest {
  background: #F7F7F7;
}
.rest__grid {
  display: grid;
  grid-gap: 1rem;
  padding-bottom: 60px;
}

.card {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}
.card__img {
  align-items: center;
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: 100% 60%;
  border-radius: 1rem 1rem 0 0;
}
.card__desc {
  justify-content: space-around;
  text-align: left;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer {
  background: #353535;
  color: #FEFEFE;
  text-align: left;
}
.footer__logo {
  display: flex;
  flex-flow: row wrap;
  filter: invert(100%);
  padding: 18px 0px;
  width: 30%;
  height: 100%;
  object-fit: contain;
}
.footer__list {
  padding-bottom: 20px;
  list-style-type: none;
}
.footer__list__elem {
  padding: 3px 0;
}

.button {
  border: none;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 15px 15px;
  font-size: 18px;
  box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.1803921569);
  color: white;
}
.button:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  outline: 0px solid green;
}

.container {
  height: 100%;
  padding: 0 20px;
}

html, body {
  margin: auto;
  min-width: 320px;
  max-width: 480px;
  text-align: center;
}

h1, h2 {
  font-family: "Shrikhand";
}

h4, p, ul {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
