@import "./utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

// Layouts
@import "./layout/header";
@import "./layout/location";
@import "./layout/reservation";
@import "./layout/fonc";
@import "./layout/restaurants";
@import "./layout/footer";

@import "./composants/button";


* { margin: 0; padding: 0; outline: 0px solid green; }

.container {  
  height: 100%;
  padding: 0 20px;
}

html, body {
  margin: auto;
  min-width: 380px;
  max-width: 768px;
  
  text-align: center;
  }

h1, h2 {
  font-family: 'Shrikhand';
}

h4, p, ul {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 20px;
}