@import "../utils/mixins";
@import "../utils/variables";

.fonc {

    height: 100%;

    &__list {
        @include flex;
        flex-direction: column;
        padding-bottom: 60px;
    }


    &__step {
        @include flex;

        margin: 25px 0 0 0;
        background-color: #F7F7F7;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0,0.2);
        font-weight: bold;
        font-size: normal;

        counter-increment: step-counter;

        &::before {
            content: counter(step-counter);
            font-family: "roboto";
            font-weight: lighter ;
            font-size: small;

            position: relative;
            right: 30px;
            line-height: 1.6rem;

            background: $primaire;
            color: white;
            border-radius: 50%;
            height: 1.5rem;
            width: 1.5rem;
        }
        &__icon {
            transform: scale(120%);
            color: #7E7E7E;

        &.fa-store {
            color: $primaire;
              }
        }

        &:nth-child(3) {
            background: #F5EDFF;
        }

        &__text {
            padding-left: 1.5rem;
        }
    }
}