@import "../utils/mixins";

.header{
    padding-top: 30px;
    padding-bottom: 15px;

    border-bottom: 2px solid rgb(0, 0, 0, .2);
  
    &__img{
      margin: auto;
      width: 50%;
      height: 100%;
      object-fit: contain;
    }
  }