@import "../utils/variables";
@import "../utils/variables";

.res {
    background: #F7F7F7;
    padding-top: 30px;
    padding-bottom: 50px;

    &__heading {
      font-size: 26px;
      text-align: center;
      margin: auto;
      width: 80%;
      padding-bottom: 20px;
    }
    &__text {
      font-size: 18px;
      padding-bottom: 30px;
    }
  }